In [4]:
lista = [3, 34, "kagor"]
tupla = ["maca", "cadeira", "Jogador"]
tipo = list(range(20))

tipo

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
tupla

['maca', 'cadeira', 'Jogador']

In [6]:
lista

{3, 34, 'kagor'}

In [10]:
matriz = [
    [1, "A", 3],
    [1, "A", 3],
    [1, "A", 3]
    ]

matriz[0]

'A'

In [11]:
matriz[0][2]

3

In [12]:
matriz[0][-1]

3

In [13]:
matriz[-1][1]

'A'

In [15]:
## fatiamento de lista

lista = ["p","y","t","h","o","n","","3"]

print(lista[:2])
print(lista[2:])
print(lista[-1:2])
print(lista[0:2:3])
print(lista[:-1])
print(lista[:])

['p', 'y']
['t', 'h', 'o', 'n', '', '3']
[]
['p']
['p', 'y', 't', 'h', 'o', 'n', '']
['p', 'y', 't', 'h', 'o', 'n', '', '3']

In [31]:
##leitura de dados

carros = ["gol", "palio", "hrv", "hilux"]

for indice,carro in enumerate(carros):
    print(indice, carro)

0 gol
1 palio
2 hrv
3 hilux

In [32]:
numbers = [1,2,3,45,64,3,3,3,3,2,1,22,14,4,5,6,8,87,87,9,56,2010]
pares = []
impares = []

for num in numbers:
    if num % 2 == 0:
        pares.append(num)
    else:
        impares.append(num)

print(pares)
print(impares)

[2, 64, 2, 22, 14, 4, 6, 8, 56, 2010]
[1, 3, 45, 3, 3, 3, 3, 1, 5, 87, 87, 9]

In [34]:
## com list comprehension

pares = [numero for numero in numbers if numero % 2 == 0]
pares

[2, 64, 2, 22, 14, 4, 6, 8, 56, 2010]

In [7]:
## FUNCOES NATIVAS DA LISTA EM PY 

dados = [1,23,45,"Estevão", "luiz",123, [40,30,29]]
l1 = dados.copy()
print(id(dados))
print(id(l1))
print(l1)

140171968574720
140171828434112
[1, 23, 45, 'Estevão', 'luiz', 123, [40, 30, 29]]

In [15]:
## merge de listas

merge = [12, 12, 12 , 13]
merge2 = [ "nome", "idade","cidade"]
merge.extend([ "nome", "idade","cidade"])
print(merge)

[12, 12, 12, 13, 'nome', 'idade', 'cidade']

In [13]:
print(merge_total)

None

In [22]:
## popé um metodo de identificação pela remoção do ultimo elemento da lista
pilha = [12, 12, 12 , 13]
pilha.pop()
print(pilha)

[12, 12, 12]

In [23]:

print(pilha)

[12, 12, 12]

In [28]:
sorting = [1,2,3,4,65,5,8,10]
sorting.sort()
print(sorting.sort(reverse=True))

None

In [29]:
print(sorting)

[65, 10, 8, 5, 4, 3, 2, 1]

In [32]:
variadas = ["C","Java","Lua","Python", "PHP"]
print(sorted(variadas, key= lambda x: len(x)))
print(sorted(variadas, key= lambda x: len(x), reverse= True))

['C', 'Lua', 'PHP', 'Java', 'Python']
['Python', 'Java', 'Lua', 'PHP', 'C']

In [34]:
numeros = [0,1,2,3,4,5,6,7,8,9]

for numero in numeros:
    if numero > 6:
      print(numero**2)
    
    else:
         for numero in range(10):
            if numero % 2 == 0:
                print(numero)

0
2
4
6
8
0
2
4
6
8
0
2
4
6
8
0
2
4
6
8
0
2
4
6
8
0
2
4
6
8
0
2
4
6
8
49
64
81

## Dicionarios em py

In [9]:
pessoa = {"nome":"guilherme", "idade": 18}
pessoa["nome"] = "jose"
pessoa["idade"] = 21
pessoa

{'nome': 'jose', 'idade': 21}

In [69]:
paises_cidades = {
    "Brasil": ["Rio de Janeiro", "São Paulo", "Brasília", "Salvador", "Fortaleza"],
    "Estados Unidos": ["Nova York", "Los Angeles", "Chicago", "Miami", "Las Vegas"],
    "França": ["Paris", "Marselha", "Lyon", "Bordeaux", "Nice"],
    "Japão": ["Tóquio", "Osaka", "Yokohama", "Kyoto", "Hiroshima"],
    "Austrália": ["Sydney", "Melbourne", "Brisbane", "Perth", "Adelaide"]}

for cidades in paises_cidades.items():
    for cidade in cidades:
        print(cidade)

Brasil
['Rio de Janeiro', 'São Paulo', 'Brasília', 'Salvador', 'Fortaleza']
Estados Unidos
['Nova York', 'Los Angeles', 'Chicago', 'Miami', 'Las Vegas']
França
['Paris', 'Marselha', 'Lyon', 'Bordeaux', 'Nice']
Japão
['Tóquio', 'Osaka', 'Yokohama', 'Kyoto', 'Hiroshima']
Austrália
['Sydney', 'Melbourne', 'Brisbane', 'Perth', 'Adelaide']

In [70]:
dict.fromkeys(["nome", "idade", "telefone"])

{'nome': None, 'idade': None, 'telefone': None}

In [33]:
dict.fromkeys(["nome", "idade", "telefone"], ["nadinha"])

{'nome': ['nadinha'], 'idade': ['nadinha'], 'telefone': ['nadinha']}

In [35]:
paises_cidades.get("Japão", {})

['Tóquio', 'Osaka', 'Yokohama', 'Kyoto', 'Hiroshima']

In [36]:
paises_cidades.keys()

dict_keys(['Brasil', 'Estados Unidos', 'França', 'Japão', 'Austrália'])

In [37]:
paises_cidades.pop("Japão")

['Tóquio', 'Osaka', 'Yokohama', 'Kyoto', 'Hiroshima']

In [71]:
paises_cidades

{'Brasil': ['Rio de Janeiro',
  'São Paulo',
  'Brasília',
  'Salvador',
  'Fortaleza'],
 'Estados Unidos': ['Nova York',
  'Los Angeles',
  'Chicago',
  'Miami',
  'Las Vegas'],
 'França': ['Paris', 'Marselha', 'Lyon', 'Bordeaux', 'Nice'],
 'Japão': ['Tóquio', 'Osaka', 'Yokohama', 'Kyoto', 'Hiroshima'],
 'Austrália': ['Sydney', 'Melbourne', 'Brisbane', 'Perth', 'Adelaide']}

In [72]:
cidades = paises_cidades.update({"Brasil": ["Rio de Janeiro", "São Paulo", "Brasília", "Salvador", "Fortaleza"],
    "Estados Unidos": ["Nova York", "Los Angeles", "Chicago", "Miami", "Las Vegas"],
    "França": ["Paris", "Marselha", "Lyon", "Bordeaux", "Nice"],
    "Japão": ["Tóquio", "Osaka", "Yokohama", "Kyoto", "Hiroshima"],
    "Austrália": ["Sydney", "Melbourne", "Brisbane", "Perth", "Adelaide"]})

In [75]:
import pandas as pd

paises_cidades.values()
cidades = pd.DataFrame(paises_cidades)

In [80]:
cidades.value_counts(paises_cidades["Brasil"])

Brasília          1
Fortaleza         1
Rio de Janeiro    1
Salvador          1
São Paulo         1
dtype: int64

In [81]:
cidades

           Brasil Estados Unidos    França      Japão  Austrália
0  Rio de Janeiro      Nova York     Paris     Tóquio     Sydney
1       São Paulo    Los Angeles  Marselha      Osaka  Melbourne
2        Brasília        Chicago      Lyon   Yokohama   Brisbane
3        Salvador          Miami  Bordeaux      Kyoto      Perth
4       Fortaleza      Las Vegas      Nice  Hiroshima   Adelaide

In [83]:
cidades in paises_cidades

TypeError: unhashable type: 'DataFrame'

## Funções em Python

In [2]:
def exibe_mensagem():
    print("hello world")

exibe_mensagem()

hello world

In [3]:
def exibir_valor(num):
    print("esse é o num{}".format(num))

exibir_valor(num=10)

esse é o num10

In [8]:
def calcular(numeros):
    return sum(numeros)

print(calcular([10,20,20,100,200]))

350

In [13]:
def antecessores_sucessores(numero):
    antecessor = numero -1
    sucessor = numero +1
    return antecessor, sucessor

print(antecessores_sucessores(0))

(-1, 1)

In [36]:
def dados_carros(ano, modelo, marca,placa):
    return ano, modelo, marca,placa


ano = int(input())
marca = str(input())
modelo = str(input())
placa = str(input()).upper()




print(dados_carros(ano,modelo,marca,placa))

(2010, 'sksa', 'asids', 'OKI1010')

In [26]:
print(dados_carros(modelo))

NameError: name 'modelo' is not defined

In [ ]:
## Função de exibir poema

def exibirPoema(texto_extenso, *args, **kwargs):
    texto = "\n".join(args)
    meta_dados = "\n".join(["f{chave.title()}: {valor}" for chave, valor in kwargs.items()])
    mensagem = "f{texto_extenso}\n\n{texto}"

    B

In [3]:
salario = 2000
def acrescimoBonus(bonus):
    global salario
    salario += bonus
    return salario

acrescimoBonus(2000)

4000

In [4]:
lista = [1,2]

lista_aux = lista
lista_aux.append(3)
print(lista_aux)

[1, 2, 3]

In [9]:
Casos = 4


for casos in range(Casos):
    N = int(input())
    if N > 8000:
        print("Mais de 8000!")
    else:
        print("Inseto!")

Inseto!
Mais de 8000!
Mais de 8000!
Inseto!

In [14]:
T = int(input())  # Lê o número de casos de teste

for i in range(T):
    N = int(input())  # Lê o valor de N
    K = int(input())  # Lê o valor de K
    
    novoN = 1  # Inicializa novoN com 1
    novoK = 1  # Inicializa novoK com 1
    
    novoN += N  # Atualiza novoN somando o valor de N
    novoK += K  # Atualiza novoK somando o valor de K

    if 0 < K <= 10000:  # Verifica se K está entre 0 e 10000
        print(novoK)
    elif 0 < N <= 10000:  # Verifica se N está entre 0 e 10000
        print(novoN)
    else:
        break  # Encerra o loop se N ou K estiverem fora do intervalo desejado

3
3
4